@use 'variables' as *;
@use 'main';
@use 'nav';

h2 {
	text-transform: uppercase;
}

.nav {
	background-color: rgba(141, 141, 145, 0.842);
}

.offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	h2 {
		font-size: 4em;
		font-weight: bold;
	}

	&__content {
	}

	&__classes {
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border: solid 1px black;
		padding: 10px 15px;
	}
}

.ti-ripple {
	margin-top: 10px;
	font-size: 6em;
}

.ti-barbell {
	display: inline-block;
	rotate: -45deg;
	font-size: 2em;
}
