@use 'variables' as *;
@use 'main';
@use 'nav';
@use 'footer';

.content{
	height: 1500px;
    width: 80%;
    max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 0 auto;

	h2 {
		text-transform: uppercase;
		font-size: 3.5em;
		font-weight: bold;
	}
}

.ti-ripple {
	margin-top: 10px;
	font-size: 6em;
}

.trainers {
    margin-top: 50px;
    width: 100%;
    height: 1200px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 30px;
}

.trainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #74747498;

    img {
        object-fit: cover;
        width: 100%;
    }

    h3 {
        text-transform: capitalize;
        margin-top: -5px;
        font-size: 2em;
    }

    .text--grey {
        font-size: 1.3em;
    }
    
}

.type {
    color: $orange;
    font-size: 1.2em;
    text-transform: capitalize;
}
 